*{
    margin: 0;
    padding: 0;
}
.maindiv{
    background-color: #f7f7f7;
    width: 900px;
    margin: auto;
}  
.imgdiv{
    width: 900px;
    height: auto;
}
.imgdiv img{
    max-width: 100%;
}
.headingdiv h1{
    color: rgb(11, 11, 161);
    text-transform: capitalize;
    text-align: center;
    padding: 20px 0;
}
.titlediv h2{
    color: white;
    background-color: orange;
    text-transform: uppercase;
    text-align: center;
}
.contentHeader h3{
    color: rgb(37, 37, 179);
    text-transform: capitalize;
    text-decoration: underline;
    padding: 20px 0;
    font-size: 20px;
}
.signature{
    text-align: right;
    padding: 20px 0;
}
.signature h3{
    text-transform: capitalize;
}
.signature p{
    text-transform: capitalize;
    font-size: 18px;
    font-weight: bold;
    color: orange;
    text-decoration: overline;
    padding: 20px 0;
    letter-spacing: 5px;
}
